<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="debug" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="dbconnection" connectionString="Data Source=|DataDirectory|test.db3;charset=utf8;" providerName="System.Data.SQLite" />
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <httpModules>
        <add name="RouteModule" type="DoNet.Common.Web.Route.RouteModule,DoNet.Common.Web"/>
      </httpModules>
    </system.web>

</configuration>
